Source: ros-lunar-ros-type-introspection
Section: misc
Priority: extra
Maintainer: Davide Faconti <faconti@icarustechnology.com>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-lunar-abseil-cpp, ros-lunar-catkin, ros-lunar-geometry-msgs, ros-lunar-rosbag, ros-lunar-rosbag-storage, ros-lunar-roscpp, ros-lunar-roscpp-serialization, ros-lunar-rostime, ros-lunar-sensor-msgs, ros-lunar-tf2, ros-lunar-topic-tools
Homepage: http://www.ros.org/wiki/ros_type_introspection
Standards-Version: 3.9.2

Package: ros-lunar-ros-type-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-abseil-cpp, ros-lunar-geometry-msgs, ros-lunar-rosbag, ros-lunar-rosbag-storage, ros-lunar-roscpp, ros-lunar-roscpp-serialization, ros-lunar-rostime, ros-lunar-sensor-msgs, ros-lunar-topic-tools
Description: The ros_type_introspection package allows the user to parse and deserialize ROS messages which type is unknown at compilation time.
