Source: ros-indigo-ros-type-introspection
Section: misc
Priority: extra
Maintainer: Davide Faconti <faconti@icarustechnology.com>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-rosbag, ros-indigo-rosbag-storage, ros-indigo-roscpp, ros-indigo-roscpp-serialization, ros-indigo-rostime, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-tf2, ros-indigo-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-ros-type-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rosbag, ros-indigo-rosbag-storage, ros-indigo-roscpp, ros-indigo-roscpp-serialization, ros-indigo-rostime, ros-indigo-topic-tools
Description: The ros_type_introspection package
